<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <h3>{{ 'Subscription frequency for the product:'|trans({}, 'Modules.QuickpaySubscription.ProductAdmin') }}</h3>
      {{ form_errors(quickpay_subscription.quickpaysubscription_frequency)}}
      {{ form_widget(quickpay_subscription.quickpaysubscription_frequency)}}
    </div>
  </div>
</div>

<script type="text/javascript" defer>
  import MultipleChoiceTable from 'admin-dev/themes/new-theme/js/components/multiple-choice-table';

  new MultipleChoiceTable();
</script>
